In [1]:
import pandas as pd

In [2]:
airline_data =  pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/airline_data.csv', 
                            encoding = "ISO-8859-1",
                            dtype={'Div1Airport': str, 'Div1TailNum': str, 
                                   'Div2Airport': str, 'Div2TailNum': str})

In [3]:
airline_data.head(10)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1133769,2014,2,4,2,3,2014-04-02,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1465620,2011,3,8,15,1,2011-08-15,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,172607,2019,1,1,6,7,2019-01-06,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1975839,2002,1,1,25,5,2002-01-25,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1912303,2005,3,8,1,1,2005-08-01,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output
from jupyter_dash import JupyterDash
import plotly.express as px


app= dash.Dash(__name__)
app.layout = html.Div([
    dcc.Dropdown(options=[
       {'label': 'New York City', 'value': 'New York City'},
       {'label': 'Montreal', 'value': 'Montreal'},
       {'label': 'San Francisco', 'value': 'San Francisco'},
   ],
   value='Montreal', id='demo-dropdown'),
    html.Div(id='dd-output-container')   
  
])


@app.callback(
    Output('dd-output-container', 'children'),
    Input('demo-dropdown', 'value')
)
def update_output(value):
    return f'You have selected {value}'


if __name__ == '__main__':
    app.run_server(port = 1023)

C:\Users\LENOVO\AppData\Local\Temp/ipykernel_57032/2270321602.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
C:\Users\LENOVO\AppData\Local\Temp/ipykernel_57032/2270321602.py:4: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc

Dash is running on http://127.0.0.1:1023/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:1023/ (Press CTRL+C to quit)
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET /_dash-component-suites/dash/deps/polyfill@7.v2_5_0m1654740724.12.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET /_dash-component-suites/dash/deps/react@16.v2_5_0m1654740724.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET /_dash-component-suites/dash/deps/react-dom@16.v2_5_0m1654740724.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET /_dash-component-suites/dash/deps/prop-types@15.v2_5_0m1654740724.8.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET /_dash-component-suites/dash/dash-renderer/build/dash_renderer.v2_5_0m1654740724.min.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET /_dash-component-suites/dash/dcc/dash_core_components.v2_5_0m1654740724.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET /_dash-component-suites/dash/dcc/dash_core_components-shared.v2_5_0m1654740724.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET /_dash-component-suites/dash/html/dash_html_components.v2_0_3m1654740724.min.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:24] "GET /_dash-component-suites/dash/dash_table/bundle.v5_1_3m1654740724.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:25] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:25] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:25] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [13/Jun/2022 22:59:25] "POST /_dash-update-component HTTP/1.1" 200 -

In [3]:
import pandas as pd


airline_data =  pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/airline_data.csv', 
                            encoding = "ISO-8859-1",
                            dtype={'Div1Airport': str, 'Div1TailNum': str, 
                                   'Div2Airport': str, 'Div2TailNum': str})

df = airline_data[airline_data["Year"]==int(entered_year)]
                      
    # top 10  airline carrier 
                      
g1= df.groupby(["Reporting_Airline"])["Flights"].sum().nlargest(10).reset_index()
    
fig1= pd.bar(g1, x="Reporting_Airline", y = "Fligths", title ="top 10 airline carrier in year"+ str(entered_year)+ "in terms on number of flights")

NameError: name 'entered_year' is not defined