import sys
!{sys.executable} -m pip install matplotlib

In [42]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [76]:
df_idi = pd.read_excel("Reportes_Acumulados.xls",sheet_name='Sheet0', skiprows=1)

In [77]:
df_idi.head()

,FECHALECTURA,Altos De La Estancia,COLMAC,Casas Fiscales Artillería,Cerro Cazadores,Cerro Norte,Colegio 21 Ángeles (IED),Colegio Agustín Fernández (IE,Colegio Alberto Lleras Camarg,Colegio Alemania Unificada,...,Micaela,Molinos,Paraiso,Pasquilla,Quiba,San Benito Río Tunjuelo,San Francisco Qda. Limas,UAN Circunvalar,UAN Usme,Vitelma
0,2022-06-01 00:00:00.0,0.4,0.1,0.1,0.4,0.0,0.0,0.3,0.03,0.11,...,0.2,0.1,0.3,0.4,0.2,0.0,0.2,0.2,0.2,0.3
1,2022-06-02 00:00:00.0,0.0,2.6,0.0,1.0,1.4,0.8,0.8,0.51,0.13,...,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.8,0.0
2,2022-06-03 00:00:00.0,27.4,22.7,36.2,32.0,24.1,15.2,18.3,23.65,45.06,...,42.2,33.9,23.5,29.6,24.1,0.3,24.8,23.5,24.9,30.6
3,2022-06-04 00:00:00.0,10.9,16.9,30.0,11.3,23.9,1.8,22.1,10.13,14.02,...,13.1,23.7,9.7,13.3,8.0,0.1,11.2,8.5,9.2,8.8
4,2022-06-05 00:00:00.0,22.3,13.8,17.7,3.8,29.7,0.0,30.1,4.54,14.33,...,3.3,11.3,7.2,4.1,17.8,0.2,11.9,4.6,1.6,12.2

In [78]:
df_idi['Total'] = df_idi.sum(axis=1)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18936\2972795224.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_idi['Total'] = df_idi.sum(axis=1)

In [79]:
df_idi.head()

,FECHALECTURA,Altos De La Estancia,COLMAC,Casas Fiscales Artillería,Cerro Cazadores,Cerro Norte,Colegio 21 Ángeles (IED),Colegio Agustín Fernández (IE,Colegio Alberto Lleras Camarg,Colegio Alemania Unificada,...,Molinos,Paraiso,Pasquilla,Quiba,San Benito Río Tunjuelo,San Francisco Qda. Limas,UAN Circunvalar,UAN Usme,Vitelma,Total
0,2022-06-01 00:00:00.0,0.4,0.1,0.1,0.4,0.0,0.0,0.3,0.03,0.11,...,0.1,0.3,0.4,0.2,0.0,0.2,0.2,0.2,0.3,10.40
1,2022-06-02 00:00:00.0,0.0,2.6,0.0,1.0,1.4,0.8,0.8,0.51,0.13,...,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.8,0.0,25.82
2,2022-06-03 00:00:00.0,27.4,22.7,36.2,32.0,24.1,15.2,18.3,23.65,45.06,...,33.9,23.5,29.6,24.1,0.3,24.8,23.5,24.9,30.6,1592.93
3,2022-06-04 00:00:00.0,10.9,16.9,30.0,11.3,23.9,1.8,22.1,10.13,14.02,...,23.7,9.7,13.3,8.0,0.1,11.2,8.5,9.2,8.8,740.82
4,2022-06-05 00:00:00.0,22.3,13.8,17.7,3.8,29.7,0.0,30.1,4.54,14.33,...,11.3,7.2,4.1,17.8,0.2,11.9,4.6,1.6,12.2,695.96

In [80]:
df_idi.head()

,FECHALECTURA,Altos De La Estancia,COLMAC,Casas Fiscales Artillería,Cerro Cazadores,Cerro Norte,Colegio 21 Ángeles (IED),Colegio Agustín Fernández (IE,Colegio Alberto Lleras Camarg,Colegio Alemania Unificada,...,Molinos,Paraiso,Pasquilla,Quiba,San Benito Río Tunjuelo,San Francisco Qda. Limas,UAN Circunvalar,UAN Usme,Vitelma,Total
0,2022-06-01 00:00:00.0,0.4,0.1,0.1,0.4,0.0,0.0,0.3,0.03,0.11,...,0.1,0.3,0.4,0.2,0.0,0.2,0.2,0.2,0.3,10.40
1,2022-06-02 00:00:00.0,0.0,2.6,0.0,1.0,1.4,0.8,0.8,0.51,0.13,...,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.8,0.0,25.82
2,2022-06-03 00:00:00.0,27.4,22.7,36.2,32.0,24.1,15.2,18.3,23.65,45.06,...,33.9,23.5,29.6,24.1,0.3,24.8,23.5,24.9,30.6,1592.93
3,2022-06-04 00:00:00.0,10.9,16.9,30.0,11.3,23.9,1.8,22.1,10.13,14.02,...,23.7,9.7,13.3,8.0,0.1,11.2,8.5,9.2,8.8,740.82
4,2022-06-05 00:00:00.0,22.3,13.8,17.7,3.8,29.7,0.0,30.1,4.54,14.33,...,11.3,7.2,4.1,17.8,0.2,11.9,4.6,1.6,12.2,695.96

In [81]:
df_idi.isnull().sum()

FECHALECTURA                 0
Altos De La Estancia         0
COLMAC                       0
Casas Fiscales Artillería    0
Cerro Cazadores              0
                            ..
San Francisco Qda. Limas     0
UAN Circunvalar              0
UAN Usme                     0
Vitelma                      0
Total                        0
Length: 64, dtype: int64

In [82]:
df_idi.describe()

,Altos De La Estancia,COLMAC,Casas Fiscales Artillería,Cerro Cazadores,Cerro Norte,Colegio 21 Ángeles (IED),Colegio Agustín Fernández (IE,Colegio Alberto Lleras Camarg,Colegio Alemania Unificada,Colegio Antonio García (IED),...,Molinos,Paraiso,Pasquilla,Quiba,San Benito Río Tunjuelo,San Francisco Qda. Limas,UAN Circunvalar,UAN Usme,Vitelma,Total
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,10.142857,9.200000,15.128571,7.800000,13.000000,3.400000,11.685714,6.794286,11.450000,8.357143,...,11.657143,11.057143,7.628571,8.842857,0.957143,8.685714,7.885714,6.114286,8.271429,545.564286
std,10.792568,8.630566,14.203487,11.382882,12.408868,5.627314,11.745840,8.195179,16.077284,7.164928,...,12.694731,11.609889,10.790847,8.981065,2.226250,8.513994,8.166686,8.964825,10.953038,543.361899
min,0.000000,0.100000,0.000000,0.100000,0.000000,0.000000,0.300000,0.030000,0.110000,0.000000,...,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,10.400000
25%,2.200000,2.450000,3.050000,0.700000,3.650000,0.000000,2.500000,1.605000,0.315000,3.050000,...,3.050000,3.150000,0.200000,3.000000,0.050000,3.100000,2.400000,0.500000,0.150000,198.910000
50%,6.000000,6.000000,15.900000,3.800000,6.000000,0.800000,6.000000,4.540000,6.000000,6.400000,...,6.600000,7.200000,4.100000,6.000000,0.100000,6.700000,6.000000,1.600000,6.000000,381.020000
75%,16.600000,15.350000,23.850000,8.650000,24.000000,3.900000,20.200000,8.065000,14.175000,13.800000,...,17.500000,16.600000,9.650000,12.900000,0.250000,11.550000,10.450000,7.600000,10.500000,718.390000
max,27.400000,22.700000,36.200000,32.000000,29.700000,15.200000,30.100000,23.650000,45.060000,18.400000,...,33.900000,30.500000,29.600000,24.100000,6.000000,24.800000,23.500000,24.900000,30.600000,1592.930000

In [83]:
df_idi.columns

Index(['FECHALECTURA', 'Altos De La Estancia', 'COLMAC',
       'Casas Fiscales Artillería', 'Cerro Cazadores', 'Cerro Norte',
       'Colegio 21 Ángeles (IED)', 'Colegio Agustín Fernández (IE',
       'Colegio Alberto Lleras Camarg', 'Colegio Alemania Unificada',
       'Colegio Antonio García (IED)', 'Colegio Carlo Federici(IED)',
       'Colegio Carlos Pizarro (IED)', 'Colegio Ciudad De Villavicenc',
       'Colegio Eduardo Umaña (IED)', 'Colegio El Manantial (IED)',
       'Colegio El Tesoro De La Cumbr', 'Colegio Francisco Primero S.S',
       'Colegio Friedrich Naumann (IE', 'Colegio Gabriel Garcia Márque',
       'Colegio Gustavo Morales Moral', 'Colegio Gustavo Restrepo (IED',
       'Colegio Inem Francisco De Pau', 'Colegio La Belleza (IED)',
       'Colegio La Chucua (IED)', 'Colegio La Felicidad(IED)',
       'Colegio Los Alpes (IED)', 'Colegio Los Pinos (IED)',
       'Colegio Magdalena Ortega De N', 'Colegio Manuel Elkin Patarroy',
       'Colegio Moralba Suroriental (', 'Colegio Nueva Zelandia (IED)',
       'Colegio Ofelia Uribe (IED)', 'Colegio Paulo Freire (IED)',
       'Colegio Rafael Uribe Uribe (I', 'Colegio Rodolfo Llinás (IED)',
       'Colegio Sierra Morena', 'Colegio Simón Rodríguez Sede ',
       'Colegio Sorrento (Sede B San ', 'Colegio Unión Colombia Sede A',
       'Doña Juana', 'El Codito', 'Escuela Pedagógica Experiment',
       'FOPAE - IDIGER', 'Fundación Ana Restrepo Del Co', 'Gran Bretaña',
       'Guadalupe', 'Independencia Río Tunjuelo', 'Juan Rey', 'Kennedy',
       'La Esperanza', 'La Fiscala', 'La Unión', 'Micaela', 'Molinos',
       'Paraiso', 'Pasquilla', 'Quiba', 'San Benito Río Tunjuelo',
       'San Francisco Qda. Limas', 'UAN Circunvalar', 'UAN Usme', 'Vitelma',
       'Total'],
      dtype='object')

In [84]:
df_idi.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Columns: 64 entries, FECHALECTURA to Total
dtypes: float64(63), object(1)
memory usage: 3.6+ KB

In [85]:
df_idi.index

RangeIndex(start=0, stop=7, step=1)

In [86]:
print(type(df_can.columns))
print(type(df_can.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [88]:
df_idi.columns.tolist()

['FECHALECTURA',
 'Altos De La Estancia',
 'COLMAC',
 'Casas Fiscales Artillería',
 'Cerro Cazadores',
 'Cerro Norte',
 'Colegio 21 Ángeles (IED)',
 'Colegio Agustín Fernández (IE',
 'Colegio Alberto Lleras Camarg',
 'Colegio Alemania Unificada',
 'Colegio Antonio García (IED)',
 'Colegio Carlo Federici(IED)',
 'Colegio Carlos Pizarro (IED)',
 'Colegio Ciudad De Villavicenc',
 'Colegio Eduardo Umaña (IED)',
 'Colegio El Manantial (IED)',
 'Colegio El Tesoro De La Cumbr',
 'Colegio Francisco Primero S.S',
 'Colegio Friedrich Naumann (IE',
 'Colegio Gabriel Garcia Márque',
 'Colegio Gustavo Morales Moral',
 'Colegio Gustavo Restrepo (IED',
 'Colegio Inem Francisco De Pau',
 'Colegio La Belleza (IED)',
 'Colegio La Chucua (IED)',
 'Colegio La Felicidad(IED)',
 'Colegio Los Alpes (IED)',
 'Colegio Los Pinos (IED)',
 'Colegio Magdalena Ortega De N',
 'Colegio Manuel Elkin Patarroy',
 'Colegio Moralba Suroriental (',
 'Colegio Nueva Zelandia (IED)',
 'Colegio Ofelia Uribe (IED)',
 'Colegio Paulo Freire (IED)',
 'Colegio Rafael Uribe Uribe (I',
 'Colegio Rodolfo Llinás (IED)',
 'Colegio Sierra Morena',
 'Colegio Simón Rodríguez Sede ',
 'Colegio Sorrento (Sede B San ',
 'Colegio Unión Colombia Sede A',
 'Doña Juana',
 'El Codito',
 'Escuela Pedagógica Experiment',
 'FOPAE - IDIGER',
 'Fundación Ana Restrepo Del Co',
 'Gran Bretaña',
 'Guadalupe',
 'Independencia Río Tunjuelo',
 'Juan Rey',
 'Kennedy',
 'La Esperanza',
 'La Fiscala',
 'La Unión',
 'Micaela',
 'Molinos',
 'Paraiso',
 'Pasquilla',
 'Quiba',
 'San Benito Río Tunjuelo',
 'San Francisco Qda. Limas',
 'UAN Circunvalar',
 'UAN Usme',
 'Vitelma',
 'Total']

In [89]:
df_idi.index.tolist()

[0, 1, 2, 3, 4, 5, 6]

In [90]:
print(type(df_idi.columns.tolist()))
print(type(df_idi.index.tolist()))

<class 'list'>
<class 'list'>

In [91]:
df_can.shape

(8, 63)

In [92]:
df_idi.isnull().sum()

FECHALECTURA                 0
Altos De La Estancia         0
COLMAC                       0
Casas Fiscales Artillería    0
Cerro Cazadores              0
                            ..
San Francisco Qda. Limas     0
UAN Circunvalar              0
UAN Usme                     0
Vitelma                      0
Total                        0
Length: 64, dtype: int64

In [95]:
df_idi.COLMAC  # returns a series

0     0.1
1     2.6
2    22.7
3    16.9
4    13.8
5     2.3
6     6.0
Name: COLMAC, dtype: float64

In [124]:
# we are using the inline backend
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

In [149]:
filas = len(df_idi.index)
dia= list(map(str, range(1, filas+1)))
dia
df_idi["dia"] = dia

In [172]:
Colmac = df_idi[["dia","COLMAC", "Casas Fiscales Artillería"]]
Colmac= Colmac[0:filas-1]
Colmac

Colmac.plot(kind='line', x="dia", y= ["Casas Fiscales Artillería","COLMAC", "UAN Usme"] )
plt.title('Precipitacion')
plt.ylabel('mm')
plt.xlabel('dia')

KeyError: "['UAN Usme'] not in index"